.links-container {
  padding: 3rem;
  padding-left: 1.5rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  z-index: 10;
}

.links-container.closed {
  left: -100vw;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #AEAEAE;
  opacity: 50%;
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .links-container {
    padding-top: 1.5rem;
    position: relative;
  }

  .links-container.closed {
    left: 0;
  }

  #overlay {
    display: none;
  }
}